body{ font-family: sans-serif; font-size: 1rem; background-color: #eee; user-select: none; text-align: center; margin: 0; padding: 0; }
*{ box-sizing: border-box; }

/*
form
*/
body > h3{ margin-bottom: 0; font-size: 1rem; display: inline-block; margin-left: 2rem; }
/* hide the real tabs */  input[type="radio"]{ opacity: 0; position: absolute; z-index: -1; }
/*using labels for aesthetics */ label{ text-transform: uppercase; letter-spacing: 0.1em; font-size: 0.6rem; user-select: none; cursor: pointer; color: #888; padding: 1em; display: inline-block; }
input[type="radio"]:checked + label{ color: #000; background-color: #fff; }





.download-container{ width: 100%; display: block; white-space: nowrap; bottom: 1em; left: 0; }
.download-link{ opacity:.75; margin: 0 0.5em; transition: all 0.14s ease; padding: .75em 0.5em; text-decoration: none; display: inline-block; white-space: nowrap; font-size: 0.5rem;   color:currentcolor; box-shadow: inset 0  -.1em; text-align: center; font-family: sans-serif; }
.download-link:before{content:"\2193  "; }
.download-link:hover{ opacity: 1; background-color: #a00; color: #fff; box-shadow: 0 0 0 1px #c00, 0 0.5em 1em rgba(0,0,0,0.5); }

/*
standard theme colors
*/

.stroke-shade{stroke:rgba(0,0,0,0.2); stroke-width:.1; fill:none; }
.fill-shade{fill:rgba(0,0,0,0.2);  }
.fill-light-shade{fill:rgba(255,255,255,0.5);  }
.gallery .icon-shadow{ filter: url("#show-shadows"); opacity: 0.2; fill: #000; }
.gallery .fill-blue{         fill: #00a4e4; }
.gallery .fill-light-blue{   fill: #d9f5fb; }
.gallery .fill-red{          fill: #c00; }
.gallery .fill-mid-red{      fill: #a30000; }

.gallery .fill-dark-red{     fill: #820000; }
.gallery .fill-orange{       fill: #ec7a08; }

.gallery .fill-green{        fill: #94c947; }
.gallery .fill-light-green{        fill: #d9f0a6; }
.gallery .fill-darker-slate{ fill: #4c575e; }
.gallery .fill-dark-slate{   fill: #5e6a71; }
.gallery .fill-slate{        fill: #8a969e; }
.gallery .fill-darkest-grey{ fill: #444444; }
.gallery .fill-darker-grey{  fill: #6a6a6a; }
.gallery .fill-dark-grey{    fill: #949494; }
.gallery .fill-darkish-grey{ fill: #a0a0a0; }
.gallery .fill-mid-grey{     fill: #b8b9b9; }
.gallery .fill-grey{     fill: #ccc; }

.gallery .fill-light-grey{   fill: #e6e6e6; }
.gallery .fill-lighter-grey{   fill: #f6f6f6; }
.gallery .fill-lightest-grey{   fill: #fafafa; }
.gallery .icon-virt-dash{  stroke: #aaa; fill: none; stroke-width: 0.1; stroke-linecap: round;stroke-dasharray: 0.3 0.3; stroke-opacity: 0.75; animation: virt-dash 999s linear infinite; }
@keyframes virt-dash{ 100%{ stroke-dashoffset: 999; }}


/*
style switcher
*/
#style-standard:checked ~ #bg-white:checked ~ .gallery .logo path {color:#555}
#style-solid:checked ~ .gallery .icon *{ stroke: #000 !important; vector-effect:non-scaling-stroke !important; stroke-width: 1 !important;  stroke-opacity: 0.8 !important; }
#style-solid:checked ~ .gallery .icon-virt-dash{ stroke-opacity: 1; stroke: currentcolor; }
#style-solid:checked ~ .gallery .icon-shadow{ filter: none; }
#style-grey:checked ~ .gallery svg{ filter: grayscale(1) contrast(0.6) brightness(1.2); }
#style-grey:checked ~ .gallery .icon-virt-dash{ opacity: 1; stroke: currentcolor; }

#style-wireframe:checked ~ .gallery .logo path{ fill:currentcolor; fill-opacity: 0.8; }
#style-wireframe:checked ~ .gallery .icon svg *{ fill: currentcolor !important; color:inherit !important; stroke: currentcolor !important; fill-opacity: 0.036 !important;   stroke-linecap: round;  stroke-linejoin: round;  stroke-opacity: 0.6 !important; vector-effect:non-scaling-stroke !important; stroke:currentcolor;  stroke-width:1px !important;}
#style-wireframe:checked ~ .gallery .fill-shade,
#style-wireframe:checked ~ .gallery .icon-shadow{ display: none; }



#style-line:checked ~ .gallery .icon svg *{ fill: transparent !important; color:inherit !important; stroke: currentcolor !important; fill-opacity: 1 !important;   stroke-linecap: round;  stroke-linejoin: round;  stroke-opacity: 1 !important; vector-effect:non-scaling-stroke !important; stroke:currentcolor;  stroke-width:3px !important;}
#style-line:checked ~ .gallery .fill-shade,
#style-line:checked ~ .gallery .shade,
#style-line:checked ~ .gallery .icon-shadow{ display: none; }


#style-fill:checked ~ .gallery .icon svg *{ fill: currentcolor !important; fill-rule:evenodd;color:inherit !important; stroke: none !important; fill-opacity: .5 !important; }
#style-fill:checked ~ .gallery .icon svg .fill-shade,
#style-fill:checked ~ .gallery .icon svg .shade{display:none;}
#style-fill:checked ~ .gallery .icon-shadow{ display: none; }

#type-logos:checked ~ .gallery .icon{ display: none; }
#type-icons:checked ~ .gallery .logo{ display: none; }

#style-line:checked ~ .gallery .icon .icon-virt-dash{vector-effect:unset !important; stroke-width: .23 !important }
#style-wireframe:checked ~ .gallery .icon .icon-virt-dash,
#style-solid:checked ~ .gallery .icon .icon-virt-dash{vector-effect:unset !important; stroke-width: .1 !important }
/* 
styling the background and items of the gallery 
*/


.gallery{ transition: background-color 0.24s ease; text-align: center; min-height: 50vh; }
.gallery svg{ width: 100%; height:85%; display: block; margin: 0 auto; margin-bottom: 4em; padding: 0; overflow: hidden; }
svg *{ transition: all 0.3s ease; transition-delay:0; }

.gallery .logo path{ fill: currentcolor; }
.gallery > div{ transition: all 0.3s ease; max-width: 100%; max-height: 100%; position: relative; width: 12em; height: 12em; display: inline-block; padding: 0.5rem; vertical-align: top; padding-bottom: 3rem; }
.gallery span{ position: absolute; }
.gallery span.tags{ width: 100%; opacity:.4; text-align: center; left: 0; bottom: 3rem; text-transform: uppercase; font-size: 0.5em; }

/*
zoom feature
*/
#zoom-normal:checked ~ .gallery > div{ font-size: 1rem; }
#zoom-out:checked ~ .gallery > div{ font-size: 0.6rem; }
#zoom-in:checked ~ .gallery > div{ font-size: 2rem; }
#zoom-out:checked ~ .gallery .tags{ display: none; }
#zoom-in:checked ~ .gallery .tags{ font-size: 0.6rem; bottom: 7em; }
[for="zoom-normal"],[for="zoom-in"],[for="zoom-out"]{ box-shadow: 0 1px 5px rgba(0,0,0,0.2); display: inline-block; vertical-align: middle; width: 2em; height: 2em; padding: 0; line-height: 2em; border-radius: 50%; margin: 0 -0.1em; }

/*
background switch feature 
*/
#bg-white:checked ~ .gallery{ background-color: #fff; }
#bg-dark:checked ~ .gallery{ background-size: 1.2em 1.2em; background-position: 0 0, 0.6em 0.6em; background-color: #000; color: #eee; background-image: linear-gradient(45deg, #222 25%, transparent 25%, transparent 75%, #222 75%, #222), linear-gradient(45deg, #222 25%, transparent 25%, transparent 75%, #222 75%, #222); }

/*logomono featuire*/


#bg-mid:not(:checked) ~ .gallery .only-dark-background,
#bg-dark:not(:checked) ~ .gallery .only-dark-background,
#bg-mid:checked ~ .gallery .only-light-background,
#bg-dark:checked ~ .gallery .only-light-background{display:block !important; opacity:0 !important}

#bg-mid:checked ~ .gallery .only-dark-background,
#bg-dark:checked ~ .gallery .only-dark-background{display:block !important; opacity:1 !important;}


#bg-light:checked ~ .gallery{ color: #000; background-size: 1.2em 1.2em; background-position: 0 0, 0.6em 0.6em; background-color: #ddd; background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc); }
#bg-mid:checked ~ .gallery{ color:#fff;background-size: 1.2em 1.2em; background-position: 0 0, 0.6em 0.6em; background-color: #777; background-image: linear-gradient(45deg, #888 25%, transparent 25%, transparent 75%, #888 75%, #888), linear-gradient(45deg, #888 25%, transparent 25%, transparent 75%, #888 75%, #888); }


/* 
search and results 
*/
.search{ appearance: none; outline: 0; border: none; font-size: 1rem; height: 2rem; line-height: 2rem; text-indent: 0.5rem; }
.searchbox{ vertical-align: middle; display: inline-block; position: relative; height: 2rem; line-height: 2rem; width: 10em; }
.searchbox .search{ display: block; position: absolute; top: 0; width: 100%; left: 0; right: 0; bottom: 0; }
.searchbox .clear{ cursor: pointer; position: absolute; right: 0; display: block; appearance: none; overflow: hidden; border: 0; border-radius: 0; font-size: 1rem; text-indent: -4em; background-color: transparent; width: 2em; }
.clear:before,.clear:after{ color: #777; content: ""; transition: all 0.6s cubic-bezier(0.6, 0.1, 0.1, 1.5); width: 0; border-right: 1px solid; display: block; height: 1.25em; top: 0.3em; right: 1em; position: absolute; transform: rotate(45deg); }
.clear:before{ transform: rotate(-45deg); }
.clear:hover:before{ transform: rotate(45deg); color: #222; }
.clear:hover:after{ transform: rotate(-45deg); color: #222; }
.miss{ display: none !important; }
.match{ opacity: 1; display: inline-block; }
.match svg{ animation: match 0.3s ease; }
@keyframes match{ 0%{ box-shadow: inset 0 0 0 0.2em; transform: translate(0, -0.5em); opacity: 0; }}
